@import "../lib/styles/abstracts/normalize";

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Hiding certain control columns from argstable */
#hide-controls-column > div > table > thead > tr > th:last-child,
#hide-controls-column > div > table > tbody > tr > td:last-child {
  display: none;
}

#hide-controls-column > div > table > thead > tr th:nth-child(1),
#hide-controls-column > div > table > tbody > tr td:nth-child(1) {
  width: 15%;
}

#story--api-reference-all-props--all-props {
  display: none;
}
